<section class="page the_lush_guide">
  <div class="wrapper">
    <div class="content-container narrow rte">
      {{ page.content }}
      	{% section 'lash-guide-e-series-template' %}
      	{% section  'Wispy-lash' %}      	
        {% section  'cat-eye' %}
      	{% section 'lash-guide-template' %}
    </div>
  </div>
</section>

